@font-face {
  font-family: "Comic Sans MS", sans-serif;
  src: url(./assets/fonts/ComicSansMS/ComicSansMS.woff2) format(woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url(./assets/fonts/poppins/poppins-regular-webfont.woff2) format(woff2);
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Comic Sans MS", sans-serif;
  background-color: black;
  /* background-image: url(./assets/img/backgrounds/current/yenbg.jpg);
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: 10rem 10rem; */
  /* animation: backgroundMovement 5s linear infinite; */
  color: white;


}

@keyframes backgroundMovement {
  from {
    background-position: top center;
  }

  to {
    background-position: bottom center;
  }

}

.topbar ul {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  /* Vertically centers text of different sizes */
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 100px;
  text-transform: uppercase;
}

.topbar ul li {
  float: none;
}

.topbar ul li p {
  font-family: "Poppins";
  font-style: bold;
  margin: 0;
  margin-right: 50px;
  font-size: 30px;
  padding: 14px 100px;
}

.topbar ul li a {
  font-size: 20px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;

  transition: transform 0.2s ease;
}

.topbar ul li a:hover {
  text-decoration: underline;
  text-decoration-color: white;

  transform: scaleX(1.5);
}

.container{
  background-color: black;
  border: 2px solid white;
  border-radius: 1px;
  width: fit-content;
  padding: 10px 20px 10px
}

.container h2 {
  font-size: 30px;
  font-style: bold;
  text-transform: uppercase;
  font-family: "Poppins";
}

.container p {
  font-size: 20px;
}